body {
  padding: 9em;
  font-family: 'Montserrat';
}

h1 {
  width: 25%;
  font-size: 5em;
  color: crimson;
  line-height: 1em;
}

button {
  padding: .5em 1em;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.7em;
  color: #333;
  background: none;
  border: 1px solid #333;
  cursor: pointer;
  transition: all .3s;
}

button:hover {
  background-color: #333;
  color: #fff;
}

.panel {
  box-sizing: border-box;
  position: absolute;
  padding: 15% 7%;
  width: 55%;
  bottom: 0;
  right: 0;
  background-color: #eaeaea;
  transform: scaleY(0);
  transform-origin: bottom;

  img {
    // margin-right: 50px;
    width: 200px;
    float: left;
    opacity: 0;
    transform: translateY(-200px);
  }

  p {
    width: 90%;
    font-size: 1.9em;
    opacity: 0;
  }

  .box {
    position: absolute;
    width: 65%;
    height: 40%;
    top: 20%;
    left: -7%;
    border: 5px solid lightgray;
    opacity: 0;
    z-index: -1;
    transform: scale(0);
  }
}

::selection {
  background-color: crimson;
  color: #fff;
}