.home {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 3rem;
  
  h2 {
    margin-bottom: 4rem;
    font-size: 2.8rem;
  }
  .slider-imagens {
    display: flex;
    justify-content: space-between;
    position: relative;

    figure {
      position: relative;

      > img {
        width: 100%;
        clip-path: inset(0 10% 0 10% round 10px);
        border-radius: 1.5rem;
        transition: all .3s;
  
        &.slick-active {
          clip-path: inset(0 0 0 0 round 10px);
        }
      }

      .logo {
        height: 5rem;
        width: auto;
        float: right;
      }
    }

    figcaption {
      position: absolute;
      background-image: linear-gradient(to bottom, transparent, rgba($cor-bkg, .8) 30%);
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 2rem 6rem;      
      font-weight: 600;

      h3 {
        font-weight: 700;
        font-size: 2.2rem;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}

.slick-arrow {
  position: absolute;
  bottom: -6rem;
  border-radius: 50%;
  border: none;
  background-color: transparent;  
  font-size:0;
  font-weight: 600;  
  color: $cor-details;
  cursor: pointer;
  z-index: 10;
}

.slick-next, 
.slick-next:before {
  right: 45%;
}

.slick-prev, 
.slick-prev:before {
  left: 45%;
}


.slick-prev:before {
  content: '<';
  font-size: 2.5rem; 
}

.slick-next:before {
  content: '>';
  font-size: 2.5rem; 
}

.controls {
  display: table;
  margin-top: 2rem;
  height: 5rem;
  width: 5rem;  
  color: $cor-details;
  border: 2px solid currentColor;
  border-radius: 50%;

  span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
  }
}
